@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

		/* FONT REFRENCE ONLY:: 
		font-family: 'Montserrat', sans-serif;
		*/


*{
		box-sizing: border-box;
		}


/*BODY*/
body{
			margin: 0;
			font-family: 'Montserrat', sans-serif;
			font-size: 1em;
			color: darkgrey;
			border: solid white 5px;
/*	height: 200px;*/
   background-color: #1349CD; /* For browsers that do not support gradients */
   background-image: linear-gradient(#2E364D,#1349CD, #0191FF,#01AFAE); /* Standard syntax (must be last) */
			}

/*ELEMENTS*/
h1{
		font-family: Montserrat', sans-serif;
		font-size: 6em;
		margin:auto;
		color: black;
		}

h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 1em;
		font-style: 700;
		color: white;
		}

p{
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-style: 300;
		font-size: 1em;
		padding: 25px;
		margin-bottom: 5px;
		}

a h1{
		color: black;
		}

a h1:link {
 	text-decoration: none;
		}

a h1:visited {
		color: lightgrey;
		text-decoration: none;
		}

a h1:hover {
		color: red;
		text-decoration: none;
		}

img{
		height: 25%;
		}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}





/*INTRO SECTION*/

#intro{	 
		height:900px;
	 max-width: 80%;
		background-color: #2E364D;
		padding: 10px;
		border-bottom-right-radius: 900px;
		}

.mockphone img{
		height: 800px;
		width: auto;
		float: right;
		margin-top: 50px;
		}


#info1 h2 {
		padding: 3px;
		font-size: 3em;
		text-align: left;
		line-height: 1.25em;
		position: absolute;
		top: 300px;
		left:150px;
		z-index: 1px;
		max-width: 600px;
	 }

#info1 p {
		padding: 3px;
		font-size: 1em;
		text-align: center;
		line-height: 3em;
		position: absolute;
		top: 430px;
		left:150px;
		z-index: 1px;
		max-width: 500px;
		}

/*BACKGROUND ELEMENTS*/












/*FOOTER*/

footer {    
				position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
}

footer.ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

	}
