@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

/* FONT REFRENCE ONLY - MY PREFRENCE AS MANY DONT LIKE TO ADD THESE :) 
		font-family: 'Montserrat', sans-serif;
		*/


*{
		box-sizing: border-box;
		}


/*BODY*/
body{
			margin: 0;
			font-family: 'Montserrat', sans-serif;
			font-size: 1em;
			color: darkgrey;
			border: solid white 5px;
/*	height: 200px;*/
   background-color: #1349CD; /* For browsers that do not support gradients */
   background-image: linear-gradient(#2E364D,#1349CD, #0191FF,#01AFAE); /* Standard syntax (must be last) */
			}

/*ELEMENTS*/
h1{
			font-family: 'Libre Barcode 128 Text', cursive;
			font-size: 6em;
			text-align: center;
			margin:auto;
			color: black;
			}

h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 1em;
		font-style: 700;
		color: white;
		text-align: center;
		}

p{
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-style: 300;
		font-size: 1em;
		padding: 25px;
		margin-bottom: 5px;
		text-align: center;
		}

a h1{
		color: black;
		}

a h1:link {
 	text-decoration: none;
		}

a h1:visited {
		color: lightgrey;
		text-decoration: none;
		}

a h1:hover {
		color: red;
		text-decoration: none;
		}



/*NAVIGATION*/

ul.topnav {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: lightgray;
			}

ul.topnav li {float: left;}

ul.topnav li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			}

ul.topnav li a:hover:not(.active) {background-color: whitesmoke;}

ul.topnav li a.active {background-color: dimgrey;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/*INTRO SECTION*/

#intro{	 
		height:900px;
	 max-width: 80%;
		background-color: #2E364D;
		padding: 10px;
		border-bottom-right-radius: 900px;
		}

.mockphone img{
 height: 675px;
	width: auto;
	float: right;
	margin-top: 175px;
}


#info1 h2 {
	padding: 3px;
	font-size: 2.5em;
	text-align: left;
	line-height: 1.25em;
	position: absolute;
	top: 300px;
	left:150px;
	z-index: 1px;
	max-width: 500px;
}

#info1 p {
	padding: 3px;
	font-size: 1em;
	text-align: center;
	line-height: 1.25em;
	position: absolute;
	top: 430px;
	left:150px;
	z-index: 1px;
	max-width: 500px;
}

/*BACKGROUND ELEMENTS*/

/*
.topbackground{
	 max-height: 675px;
	 max-width: 100%;
		background-color: aqua;
		border: 2px solid red;
		padding: 10px;
		border-bottom-right-radius: 300px;
}
*/


/*FEATURES*/

#features{
	   margin-top: 150px;
				border: solid 3pt red;
				height:1200px;
				}


.tiles {
    display: flex;
    flex-wrap: wrap;
    postiion: relative;
    margin: -2.5em 0 0 -2.5em;
    }

.tiles article {
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: calc(33.33333% - 2.5em);
    margin: 2.5em 0 0 2.5em;
    }

.tiles article > .image {
    transition: transform 0.5s ease;
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    }

.tiles article > .image img {
    display: block;
    width: 100%;
    }

.tiles article > .image:before {
    pointer-events: none;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    z-index: 1;
    opacity: 0.8;
    }

.tiles article > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 4px;
    border-bottom: 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    z-index: 3;
    }

.tiles article > a > :last-child {
    margin: 0;
    }

.tiles article > a:hover {
    color: mediumvioletred;
    }

.tiles article > a h2 {
    margin: 0;
    }

.tiles article > a .content {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 100%;
    max-height: 0;
    line-height: 1.5;
    margin-top: 0.35em;
    opacity: 0;
    }

.tiles article > a .content > :last-child {
    margin-bottom: 0;
    }

.tiles article.style1 > .image:before {
    background-color: mediumvioletred;
    }

.tiles article.style2 > .image:before {
    background-color: red;
    }

.tiles article.style3 > .image:before {
    background-color: yellow;
    }

.tiles article.style4 > .image:before {
    background-color: black;
    }

.tiles article.style5 > .image:before {
    background-color: white;
    }

/*FOOTER*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

